.main-page-wrapper {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(39,53,78,0.06);
  border-radius: 4px;
  margin-top: 7px;
  padding: 15px;
  padding-bottom: 50px;
  .main-page-header {
    font-family: $font-family-secondary;
    font-size: 40px;
    font-weight: bold;
    color: #48AAE6;
    text-align: center;
    padding: 25px;
  }
  .main-page-form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    .at {
      font-family: $font-family-secondary;
      font-size: 30px;
      color: #48AAE6;
      text-align: center;
    }
  }
  .tweets-timeline {
    margin-top: 50px;
  }
}
