$font-family-main: 'Roboto';

$background-color-main: #e6ecf0;
$text-color-main: #000;
$text-color-secondary: #989898;

$color-blue: #48AAE6;

$disable-color-main: #eee;
$disable-color-secondary: #e3e3e3;
